**.pyc
.cache
.DS_Store

# Ignore distribution side-products
dist/
ricloud.egg-info/

# Ignore log files
logs/
!logs/README.md

# Ignore downloaded files
output/
!output/README.md

# Ignore custom configs
configs/

# Ignore test and checker outputs
.tox
.coverage
coverage.xml
reports/

# Ingore build and config
build/
config/
